{% extends "base.html" %}
{% load static %}
{% block content1 %}

<div class="row">
    <h3 class="text-center" style="color:#4fffb0">Cyber Security</h3>
    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\THM-CSVAVHN2O8.png' %}" style="text-decoration: none;"  ><h1 class="display4">Jr Penetration Testing</h1></a> 
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\Security Compliance and Identity Fundamentals.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Security, Compliance,and Identity Fundamentals</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\NSE_1_Certification.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">NSE 1 - Network Security Associate</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\NSE_2_Certification.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">NSE 2 - Network Security Associate</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\Coursera YXAF68T4GWQP{specialization}.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Learning Linux for LFCA Certification</h1></a>
    </div>


    <h3 class="text-center" style="color:#4fffb0">Networking</h3>
    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\Tarun Jhade 976167.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Cybersecurity Virtual Internship - Paloalto</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\The Fundamentals of SOC (Security Operations Center) _ Beacon.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">The Fundamentals of SOC (Security Operations Center)</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\Fundamentals of Network Security _ Beacon.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Fundamentals of Network Security</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-IDN_May24_Campai-certificate.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">PCAP: Programming Essentials in Python</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-LNCT Cyber Surak-certificate (3).pdf' %}" style="text-decoration: none;"  ><h1 class="display4">CCSK v4.1 Foundation Training</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-VIP_May24_Campai-certificate.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Networking Essentials</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-LNCT Cyber Surak-certificate (6).pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Cybersecurity Essentials</h1></a>
    </div>


    <h3 class="text-center" style="color:#4fffb0">Language/Development</h3>
    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-SKL_LNCT_COA-certificate.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">CyberOps Associate</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-IDN_May24_Campai-certificate (2).pdf' %}" style="text-decoration: none;"  ><h1 class="display4">CCNAv7: Introduction to Networks</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-IDN_May24_Campai-certificate (1).pdf' %}" style="text-decoration: none;"  ><h1 class="display4">CCNAv7: Switching, Routing, and Wireless Essentials</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-IDN_May24_Campai-certificate (3).pdf' %}" style="text-decoration: none;"  ><h1 class="display4">CCNAv7: Enterprise Networking, Security, and Automation</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\TarunJhade-LNCT Cyber Surak-certificate (4).pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Introduction to Packet Tracer</h1></a>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <a href="{% static 'certificates\Main_Coursera 9Y2NAM8FAGEU.pdf' %}" style="text-decoration: none;"  ><h1 class="display4">Google IT Support</h1></a>
    </div>
    
</div>


{% endblock content1 %}